<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>


<main>
  <h1><%= title %></h1>
  <p>Please first ensure that the desired meal is not in the list:
    <select>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }) %>
    </select>
  </p>
  <form class="form-group" action="/meals" id="add-meal" method="POST">
    <label for="meal-input" id="meal-label">Meal:</label>
    <input class="form-control" type="text" name="name" id="meal-input">
    <button type="submit" class="btn btn-dark" id="new-meal-button">Add Meal</button>
  </form>
</main>


<%- include('../partials/footer') %>



